BACKEND_PORT=3003
FRONTEND_PORT=8080
POSTGRES_HOST_PORT=5432
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_DB=app_db

NODE_ENV=development||production
ACCESS_TOKEN_SECRET=token_A
REFRESH_TOKEN_SECRET=token_B

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"
VITE_API_URL=http://localhost:BACKEND/api
CORS_ORIGIN=http://localhost:FRONTEND
